.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.containerA {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.containerA div {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #d0bfff;

  color: #868e96;
}
.containerA div label {
  font-size: 1.8rem;
}
.containerA select option {
  color: red;
}
.bt {
}
.navii {
  text-decoration: none;
  background-color: #b197fc;

  font-size: 1.8rem;
  width: 15rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.8rem;
  outline: 0.5rem solid #b197fc;
  border: 1.5px solid #f3f0ff;
  /* padding-bottom: 0.5rem; */
  color: #f3f0ff;
}
.containerA select,
input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1.5px dashed #868e96;
  background-color: #d0bfff;
  outline: 0.5rem solid #d0bfff;
  color: #868e96;
}
.hide {
  display: none;
}
.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

::placeholder {
  color: #7b7e81;
}
@media (max-width: 387px) {
  .containerA {
    width: 15rem;
  }
  .containerA div label {
    display: none;
  }
  .containerA div select {
    width: 20rem;
  }
}
