.firstContainer {
  text-align: left;
  width: fit-content;
  margin-left: 3rem;
  border: 1.5px solid #b197fc;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  background-color: #f3f0ff;
  outline: 0.8rem solid #f3f0ff;
}
.InFirst {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.containerB {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #d0bfff;
  padding: 0.4rem 0.6rem;
  outline: 0.5rem solid #d0bfff;
  /* border: 1.5px dotted #f3f0ff; */
  border-radius: 0.5rem;
}
.containerB label {
  font-size: 1.4rem;
  color: #7b7e81;
}
.containerB select {
  background-color: inherit;
  color: #7b7e81;
  padding: 0.3rem 0.7rem;
  border: 1.5px dotted #f3f0ff;
  border-radius: 5px;
}
.containerC {
  display: flex;
  gap: 1.4rem;
}
.inputs {
  width: 10rem;
  padding: 0.4rem 0.6rem;
  background-color: #d0bfff;
  outline: 0.5rem solid #d0bfff;
  border: 1.5px dotted #f3f0ff;
  border-radius: 0.5rem;
}
.inputs_error {
  width: 10rem;
  padding: 0.4rem 0.6rem;
  background-color: #d0bfff;
  outline: 0.5rem solid #d0bfff;
  border: 1.8px solid rgb(228, 4, 4);
  border-radius: 0.5rem;
}
.containerA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.navii {
  text-decoration: none;
  background-color: #b197fc;
  font-size: 1.8rem;
  width: 15rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.8rem;
  outline: 0.5rem solid #b197fc;
  border: 1.5px solid #f3f0ff;
  /* padding-bottom: 0.5rem; */
  color: #f3f0ff;
}

::placeholder {
  color: #7b7e81;
  text-align: center;
}
.Ri {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.result {
  margin-left: 1rem;
  margin-bottom: 2rem;
  justify-self: center;
}
.hide {
  display: none;
}
.error {
  color: red;
  font-size: 1rem;
  font-weight: 500;
  height: 1.7rem;
}

.input_border {
}
@media (max-width: 550px) {
  .Ri {
    gap: 1rem;
  }
}
