.ul {
  height: 100%;
  display: flex;
  justify-content: center;

  align-items: flex-end;
}
.li {
  font-size: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -7rem;
}
.nh {
  font-size: 1.5rem;
}
.show_reload {
}
.hide {
  display: none;
}
