* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}
.active {
  color: red;
}
@media (max-width: 437px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 376px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 301px) {
  html {
    font-size: 40%;
  }
}
